:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #f0a868;
  --secondary-color: #525b0f;
  --tertiary-color: #a4b8c4;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
}
img {
  max-width: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.logo {
  line-height: 60px;
  width: 245px;
  overflow: hidden;
  display: flex;
  font-size: 30px;
  text-align: right;
  font-family: var(--font-headline);
}
.logo img {
  width: 60px;
  height: 60px;
}
.logo a {
  text-decoration: none;
  color: var(--font-body);
}
.hero {
  position: relative;
}
.hero .logo {
  position: absolute;
  left: calc(50% - 60px);
  bottom: -10px;
  background-color: white;
}
.logo--square {
  font-size: var(--small-font);
  width: 110px;
  height: 80px;

  flex-direction: column;
  align-items: flex-end;
  box-shadow: 1px 1px 4px var(--light-grey);
  justify-content: center;
  align-items: center;
  line-height: 1;
}
.logo--square img {
  width: 90px;
  height: 90px;
  margin-top: -1.3em;
}
.logo--square > div {
  margin-top: -1.7em;
}
/* utility classes */
.highlight {
  color: var(--tertiary-color);
}

button {
  padding: 0.5em 2em;
  background-color: var(--secondary-color);
  color: white;
  margin: auto;
  display: block;
  border: 0;
  font-size: var(--large-font);
  cursor: pointer;
}
.divider {
  border-bottom: 2px solid var(--primary-color);
}
/* End utility classes */

/* Cart icon styles */
.cart {
  padding-top: 1em;
  position: relative;
  text-align: center;
}

.cart svg {
  width: 25px;
  z-index: 999;
}
.cart:hover svg {
  fill: gray;
}

.cart a{
  text-decoration: none;
}
.cart sup{
  display: none;
  position: absolute;
  background-color: #f0a868;
  border-radius: 50%;
  z-index: 998;
  right: -8px;
  top: 5px;
  font-size: 1rem;
  padding: 10%;
  width: 100%;
  font-weight: bolder;
}
.cart:hover{
  filter: opacity(80%);
}
/* End cart icon styles */

.mission {
  padding: 0 0.5em;
  /* margin: 0.5em 0; */
  line-height: 1.3;
  max-width: 600px;
  margin: auto;
}
.products {
  padding: 0.5em;
}
.product-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}
.product-list a {
  text-decoration: none;
  color: var(--dark-grey);
}
/* Styles for product lists */
.product-card {
  flex: 1 1 45%;
  margin: 0.25em;
  padding: 0.5em;
  border: 1px solid var(--light-grey);
  max-width: 250px;
}
.product-card h2,
.product-card h3,
.product-card p {
  margin: 0.5em 0;
}

.gobackButton {
  text-decoration: none;
    color: white;
    background-color: black;
    padding: 15px;
    border-radius: 25px;
    font-size: 14px;
}
.slashed{
  text-decoration: line-through;
  text-decoration-thickness: 3px;
  color: red;
  font-style: italic;
}

.card__brand {
  font-size: var(--small-font);
}

.card__name {
  font-size: 1em;
}

.discount{
  position: absolute;
  color: red;
  font-weight: bold;
  font-size: 0.8rem;
  border: 2px solid red;
  padding: 5px;
  border-style: dashed;
}
/* End product list card */

.product-detail {
  padding: 1em;
  max-width: 500px;
  margin: auto;
}

.product-detail img {
  width: 100%;
}

/* Start cart list card styles */
.cart-card {
  display: grid;
  grid-template-columns: 25% auto 15%;
  font-size: var(--small-font);
  /* max-height: 120px; */
  align-items: center;
  width: 100%;
}

.cart-card__image {
  grid-row: 1/3;
  grid-column: 1;
}
.cart-card p {
  margin-top: 0;
}
.cart-card .card__name {
  grid-row: 1;
  grid-column: 2;
}

.cart-card__color {
  grid-row: 2;
  grid-column: 2;
}

.cart-card__quantity {
  grid-row: 1;
  grid-column: 3;
}

.cart-card__price {
  grid-row: 2;
  grid-column: 3;
  text-align: center;
}
.cart-delete {
  grid-row: 1;
  grid-column: 4;
  cursor: pointer;
  text-align: center;
}

.hide{
  display: none;
}
.show{
  display: block;
}
.cart-footer{
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart-total{
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  font-weight: bold;
}
.cart-total span{
  margin: 0 0 0 1em;
}

#product-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0rem;
  margin-top: 4rem;
}
#product-grid a{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

#product-grid div:hover{
  cursor: pointer;
}

#product-grid img{
  width: 100px;
}
#checkoutBtn{
  background-color: #303030;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  padding: 1rem 1rem;
  cursor: pointer;
  align-self: center;
  font-size: 1rem;
  margin-top: 1rem;
}


#checkoutBtn:hover{
  background-color: #30303072;
}
#formCheckout{
  margin-top: 3rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

}
#formCheckout fieldset{
  display: flex;
  flex-direction: column;
  align-items: left;
  gap:1.5rem;
  padding: 2rem 2rem;
  width:95%;
}
#formCheckout h5{
  margin: 0;
}

#formCheckout fieldset input{
  width: 100%;
  height: 40px;
}

#formCheckout div{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#formCheckout legend{
  font-size: 1.5rem;
  font-weight: bolder;
}
#total{
  font-weight: 900;
}
.subtractQuantity, .addQuantity{
  display: flex;
  align-items: center;
  padding: 0.1em 0.5em;
  width: 0.5rem;
  justify-content: center;
  background-color: #a4b8c4;
  color: #303030;

}
.subtractQuantity:hover, .addQuantity:hover{
  background-color: rgba(0, 0, 0, 0.3);
  color: #303030;

}
.cart-card__quantity{
  margin: unset;
  display: flex;
}
.cart-card__quantity p {
  margin: unset;
  display: flex;
  align-items: center;
}
fieldset{
  border: none;
  border-top: 2px solid #f0a868;
  display: flex;
  flex-direction: column;
  align-items: center;
}
fieldset input{
  padding: 0.2rem 0.5rem;
  font-size: 1em;
  margin-inline: 0.5rem;
}
fieldset label{
  display: flex;
  align-items: center;
  justify-content: center;
}
fieldset label h4{
  margin-block: 0.2rem;
}
#joinNews{
  background-color: #f0a868;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  cursor: pointer;
}

#joinNews:hover{
  background-color: hsl(28, 87%, 72%);
}
@media screen and (min-width: 500px) {
  body {
    max-width: 1080px;
    margin: auto;
  }
  .mission {
    font-size: 1.2em;
  }
  .cart-card {
    font-size: inherit;
    grid-template-columns: 150px auto 15% 5%;
  }
  #formCheckout fieldset{
    max-width: 500px;
    width:60%;
    padding: 2rem 3rem;

  }
}

footer {
  font-size: var(--small-font);
  padding: 1em;
}
