:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #f0a868;
  --secondary-color: #525b0f;
  --tertiary-color: #a4b8c4;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
}
img {
  max-width: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.logo {
  line-height: 60px;
  width: 245px;
  overflow: hidden;
  display: flex;
  font-size: 30px;
  text-align: right;
  font-family: var(--font-headline);
}
.logo img {
  width: 60px;
  height: 60px;
}
.logo a {
  text-decoration: none;
  color: var(--font-body);
}
.hero {
  position: relative;
}
.hero .logo {
  position: absolute;
  left: calc(50% - 60px);
  bottom: -10px;
  background-color: white;
}
.logo--square {
  font-size: var(--small-font);
  width: 110px;
  height: 80px;

  flex-direction: column;
  align-items: flex-end;
  box-shadow: 1px 1px 4px var(--light-grey);
  justify-content: center;
  align-items: center;
  line-height: 1;
}
.logo--square img {
  width: 90px;
  height: 90px;
  margin-top: -1.3em;
}
.logo--square > div {
  margin-top: -1.7em;
}
/* utility classes */
.highlight {
  color: var(--tertiary-color);
}

button {
  padding: 0.5em 2em;
  background-color: var(--secondary-color);
  color: white;
  margin: auto;
  display: block;
  border: 0;
  font-size: var(--large-font);
  cursor: pointer;
}
.divider {
  border-bottom: 2px solid var(--primary-color);
}
/* End utility classes */

/* Cart icon styles */
.cart {
  padding-top: 1em;
  position: relative;
  text-align: center;
}

.cart svg {
  width: 25px;
  z-index: 999;
}
.cart:hover svg {
  fill: gray;
}

.cart a{
  text-decoration: none;
}
.cart sup{
  display: none;
  position: absolute;
  background-color: #f0a868;
  border-radius: 50%;
  z-index: 998;
  right: -8px;
  top: 5px;
  font-size: 1rem;
  padding: 10%;
  width: 100%;
  font-weight: bolder;
}
.cart:hover{
  filter: opacity(80%);
}
/* End cart icon styles */

.mission {
  padding: 0 0.5em;
  /* margin: 0.5em 0; */
  line-height: 1.3;
  max-width: 600px;
  margin: auto;
}
.products {
  padding: 0.5em;
}
.product-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}
.product-list a {
  text-decoration: none;
  color: var(--dark-grey);
}
/* Styles for product lists */
.product-card {
  margin: 0.25em;
  padding: 0.5em;
  border: 1px solid var(--light-grey);
  max-width: 250px;
  position: relative;
  width: 250px;
}
.product-card a{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.product-card picture{
  margin-top: 2rem;
}


.product-card h2,
.product-card h3,
.product-card p {
  margin: 0.5em 0;
}


.gobackButton {
  text-decoration: none;
    color: white;
    background-color: black;
    padding: 15px;
    border-radius: 25px;
    font-size: 14px;
}
.slashed{
  text-decoration: line-through;
  text-decoration-thickness: 3px;
  color: red;
  font-style: italic;
}

.card__brand {
  font-size: var(--small-font);
}

.card__name {
  font-size: 1em;
}

.discount{
  position: absolute;
  color: red;
  font-weight: bold;
  font-size: 0.8rem;
  border: 2px solid red;
  padding: 5px;
  border-style: dashed;
  top: 10px;
}
/* End product list card */

.product-detail {
  position: relative;
  padding: 1em;
  max-width: 500px;
  margin: 2rem auto;
}

.product-detail img {
  width: 100%;
}

.fa{
  display: block;
  z-index: 1;
  width: fit-content;
  font-size: 1.2rem;
  position: absolute;
  right: 10px;
  top: 1rem;
}

.fa:hover{
  color: #f0a868;
  cursor: pointer !important;

}

.fa-eye{
  cursor: pointer !important;
}
.fa-heart{
  position: absolute;
  bottom: 1.5rem;
  right: 10px;
}
/* Start cart list card styles */
.cart-card {
  display: grid;
  grid-template-columns: 25% auto 30%;
  font-size: var(--small-font);
  /* max-height: 120px; */
  align-items: center;
  width: 100%;
}

.cart-card__image {
  grid-row: 1/3;
  grid-column: 1;
}
.cart-card p {
  margin-top: 0;
}
.cart-card .card__name {
  grid-row: 1;
  grid-column: 2;
}

.cart-card__color {
  grid-row: 2;
  grid-column: 2;
}

.cart-card__quantity {
  grid-row: 1;
  grid-column: 3;
}

.cart-card__price {
  grid-row: 2;
  grid-column: 3;
  text-align: center;
}
.cart-delete {
  grid-row: 1;
  grid-column: 4;
  cursor: pointer;
  text-align: center;
}

.hide{
  display: none;
}
.show{
  display: block;
}
.cart-footer{
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart-total{
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  font-weight: bold;
}
.cart-total span{
  margin: 0 0 0 1em;
}

#product-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0rem;
  margin-top: 4rem;
}
#product-grid a{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

#product-grid div:hover{
  cursor: pointer;
}

#product-grid img{
  width: 100px;
}
#checkoutBtn{
  background-color: #303030;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  padding: 1rem 1rem;
  cursor: pointer;
  align-self: center;
  font-size: 1rem;
  margin-top: 1rem;
}


#checkoutBtn:hover{
  background-color: #30303072;
}
#formCheckout{
  margin-top: 3rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

}
#formCheckout fieldset{
  display: flex;
  flex-direction: column;
  align-items: left;
  gap:1.5rem;
  padding: 2rem 2rem;
  width:95%;
}
#formCheckout h5{
  margin: 0;
}

#formCheckout fieldset input{
  width: 100%;
  height: 40px;
}

#formCheckout div{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#formCheckout legend{
  font-size: 1.5rem;
  font-weight: bolder;
}
#total{
  font-weight: 900;
}
.subtractQuantity, .addQuantity{
  display: flex;
  align-items: center;
  padding: 0.1em 0.5em;
  width: 0.5rem;
  justify-content: center;
  background-color: #a4b8c4;
  color: #303030;

}
.subtractQuantity:hover, .addQuantity:hover{
  background-color: rgba(0, 0, 0, 0.3);
  color: #303030;

}
.cart-card__quantity{
  margin: unset;
  display: flex;
}
.cart-card__quantity p {
  margin: unset;
  display: flex;
  align-items: center;
}

#news-signup fieldset{
  border: none;
  border-top: 2px solid #f0a868;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#news-signup fieldset input{
  padding: 0.2rem 0.5rem;
  font-size: 1em;
  margin-inline: 0.5rem;
}
#news-signup fieldset label{
  display: flex;
  align-items: center;
  justify-content: center;
}
#news-signup fieldset label h4{
  margin-block: 0.2rem;
}
#news-signup #joinNews{
  background-color: #f0a868;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 0.7rem 1rem;
  margin: 1rem 0;
  cursor: pointer;
  font-weight: bolder;
}
#success{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18% 0;
}
#Capa_1{
  height: 150px;
}

#alert-list{
  position: fixed;
  top: -10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  left: 0;
}
#alert-list p{
  padding: 1.5rem 2rem;
  width: fit-content;
  border-radius: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  font-size: 1.2rem;
  text-align: center;
  justify-self: center;
}
@keyframes slideIn {
  0% {
    top: -200px;
  }
  100% {
    top: 5vh;
  }
}
@keyframes slideOut {
  0% {
    top: 5vh;
  }
  100% {
    top: -200px;
  }
}
/* alert styles */
.alert {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  background-color: rgba(235, 51, 51, 0.997);
  border: 1px solid rgb(187, 3, 3);
  font-weight: bold;
}
.alert > p {
  margin: 0;
}
.alert span{
  cursor: pointer;
}

#news-signup #joinNews:hover{
  background-color: #a4b8c4;
}



.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}



.modal-content {
  display: flex;
  background-color: #fefefe;
  margin: 10vh auto;
  border: 1px solid #888;
  width: fit-content;
  height: fit-content;
  max-width: 600px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 2.5rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


#modalProduct{
  padding: 20px;
  flex-grow: 1;
  color: initial;
  text-decoration: none;
  cursor: pointer !important;
  position: relative;

}

#modalProduct .divider{
  border-top: 2px solid var(--primary-color);
  border-bottom: unset;
  width: 100%;
  padding-top: 10px;
}

#sortButtonsRow{
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 15px;
}

#sortButtonsRow button{
  margin: 0;
  border-radius: 15px;
  color: #000;
  background-color: #fefefe;
  border:1px solid black;
  font-size: 1rem;
}

#sortButtonsRow button:hover{
  color: #fefefe;
  background-color: #000;
}

.sortButtonActive {
  color: #fefefe !important;
  background-color: rgb(21, 21, 245) !important;
  border:1px solid rgb(21, 21, 245) !important;
}

.products h5{
  margin-bottom: 2px;
}

footer {
  font-size: var(--small-font);
  padding: 1em;
}


.breadcrumbs {
  margin-top: 25px;
  border: 1px solid #cbd2d9;
  border-radius: 0.3rem;
  display: inline-flex;
  overflow: hidden;
}

.breadcrumbs__item {
  background: #fff;
  color: #333;
  outline: none;
  padding: 0.75em 0.75em 0.75em 1.25em;
  position: relative;
  text-decoration: none;
  transition: background 0.2s linear;
}

.breadcrumbs__item:hover:after,
.breadcrumbs__item:hover {
  background: #edf1f5;
}

.breadcrumbs__item:focus:after,
.breadcrumbs__item:focus,
.breadcrumbs__item.is-active:focus {
  background: #323f4a;
  color: #fff;
}

.breadcrumbs__item:after,
.breadcrumbs__item:before {
  background: white;
  bottom: 0;
  clip-path: polygon(50% 50%, -50% -50%, 0 100%);
  content: "";
  left: 100%;
  position: absolute;
  top: 0;
  transition: background 0.2s linear;
  width: 1em;
  z-index: 1;
}

.breadcrumbs__item:before {
  background: #cbd2d9;
  margin-left: 1px;
}

.breadcrumbs__item:last-child {
  border-right: none;
}

.breadcrumbs__item.is-active {
  background: #edf1f5;
}

.box{
  position: relative;
  width: fit-content;
}

.box .input {
  padding: 10px;
  width: 60px;
  height: 60px;
  background: none;
  border: 4px solid #FB6A5A;
  border-radius: 50px;
  box-sizing: border-box;
  font-family: Comic Sans MS;
  font-size: 20px;
  color: #000;
  outline: none;
  transition: .5s;
}
.box:hover input{
  width: 350px;
  background: #FFF;
  border-radius: 10px;
}

.box .input.active {
  width: 350px;
  background: #FFF;
  border-radius: 10px;
}
.box i{
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translate(-50%,-50%);
  font-size: 20px;
  color: #FB6A5A;
  transition: .2s;
}
.box:hover i{
  opacity: 0;
  z-index: -1;
}
.wishlistSection{
  border-top: 2px solid #f0a868;
  margin-top: 5rem;
  padding-top: 2rem;
  padding-inline: 0.5em;

}
#slidesContainer{
  overflow-x: scroll;
  position: relative;

}
.container{
  overflow-x: scroll;
  width: 100%;
  height: 400px;
}
.wishlistSection{
  display: none;
}


#ordersTable {
  width: 80%;
  margin: 25px auto;
  border-collapse: collapse;
  border-radius: 10px;
}


#ordersTable th,
#ordersTable td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#ordersTable th {
  background-color: #f2f2f2;
  font-weight: bold;
}

#ordersTable tr:hover {
  background-color: #f5f5f5;
}




.wishlist{
  display: flex;
  list-style: none;
  width: 100%;
  gap: 2rem;
  padding: 0;
  height: fit-content;
}


.wishlist a{
  text-decoration: none;
  color: #303030;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  width: 200px;
  padding: 0.5rem 1rem;

  

}
.wish-card{
  border: 1px solid #cbd2d9;
  transition: 0.2s ease-in;
  min-height: 100%;

}
.wish-card img{
  max-width: 200px;
}
.wish-card:hover{
  background-color: #eeeeee;
  transition: 0.2s ease-in;
}
.wishlistLink h6{
  margin: 0;
  font-size: 0.9rem;
}
/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 60%;
  width: auto;
  padding: 10px;
  margin-top: -50px;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(121, 121, 121, 0.8);
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,.demo:hover {
  opacity: 1;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.modal-content p{
  width: 60%;
  margin-bottom: 2rem;

}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  align-self: flex-end;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.registerButton {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}



@media screen and (min-width: 500px) {
  body {
    max-width: 1080px;
    margin: auto;
  }
  .mission {
    font-size: 1.2em;
  }
  .cart-card {
    font-size: inherit;
    grid-template-columns: 150px auto 15% 5%;
  }
  #formCheckout fieldset{
    max-width: 500px;
    width:60%;
    padding: 2rem 3rem;

  }
  .product-list{
    justify-content: space-between;
  }
}
